@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300,400,500,700display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}
.navigation {
  position: relative;
  width: 350px; /*70 * 5 = 350*/
  height: 70px;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.navigation ul lia a .icon {
  position: relative;
  line-height: 75px;
  transition: 0.5s;
  font-size: 30px;
}
.navigation ul li.active a .icon {
  font-size: 20px;
  transform: translateY(-6px);
}
.navigation ul li a .text {
  position: absolute;
  font-size: 12px;
  color: #ff4;
  bottom: 20px;
  font-weight: 400;
  transition: 0.25s;
  text-transform: uppercase;
  transform: scale(0);
}
.navigation ul li:hover a .text {
  transform: scale(1);
}
